%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, []},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "posm_node", "1",
        [
         kernel,
         stdlib,
         sasl,
         crypto,
         mnesia,
         ranch,
         mochiweb,
         webmachine,
         erlcron,
         posm,
         rec2json,
         posm_rest
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "posm_node"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, posm, [{incl_cond, include}, {lib_dir, "../apps/posm"}]},
       {app, posm_rest, [{incl_cond, include}, {lib_dir, "../apps/posm_rest"}]},
       %% deps
       {app, ranch, [{incl_cond, include}, {lib_dir, "../deps/ranch"}]},
       {app, erlcron, [{incl_cond, include}, {lib_dir, "../deps/erlcron"}]},
       {app, webmachine, [{incl_cond, include}, {lib_dir, "../deps/webmachine"}]},
       {app, mochiweb, [{incl_cond, include}, {lib_dir, "../deps/mochiweb"}]},
       {app, rec2json, [{incl_cond, include}, {lib_dir, "../deps/rec2json"}]},
       {app, jsx, [{incl_cond, include}, {lib_dir, "../deps/jsx"}]}
      ]}.

{target_dir, "posm_node"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "posm_node/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/posm_node", "bin/posm_node"},
           {copy, "files/posm_node.cmd", "bin/posm_node.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
