[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
  {erlcron, [
        {crontab, [
            {{daily, {every, {120, sec}, {between, {0, 0, am}, {11, 59, pm}}}},
             {posm_tasks, sync_pos_info, []}},

            {{daily, {3, 30, am}}, {posm_tasks, sync_reference_data, []}}
        ]}
    ]}
].

